*,
html {
margin: 0;
padding: 0;
}

.container  {}

.container-navbar {
    background-color: rgb(68, 155, 199);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 20px;
margin: 5px;
color: white;
font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(99, 173, 202);
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: rgb(231, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 21px 18px 8px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: 21px 18px 8px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 21px 18px 8px 0px rgba(0,0,0,0.72);
}

.img-content {
width: 50%;
height: 50%;
}

.container-footer {
    height: 10vh;
background-color: rgb(62, 136, 170);
display: flex;
justify-content: center;
align-items: center;
}

.h1-footer {
font-size: 35px;
color: white;
}